dash<2.0
dash_core_components
dash_html_components
dash_bootstrap_components<1.0
dash_daq
dash-extensions<0.0.58
flask_caching
plotly
numpy
pandas
equadratures==9.1.0
requests>=2.11.1
jsonpickle
gunicorn
pylibmc
func-timeout
whitenoise
