dash
dash_core_components
dash_html_components
dash_bootstrap_components
dash_daq
flask_caching
plotly
numpy
pandas
git+git://github.com/Effective-Quadratures/equadratures@develop#egg=equadratures
jsonpickle
gunicorn
pylibmc
func-timeout
